.col#food-list-col

	include view-toggle
	
	include search
	
	.food-list-container.visible
		.food-list
			ul
				li
					a(ng-click='uncategorisedNodeSelected($event)')
						i(class='fa fa-caret-down fa-fw')
						i(class='fa fa-caret-right fa-fw' ng-if='"#{lang_dir}" == "ltr"')
						i(class='fa fa-caret-left fa-fw' ng-if='"#{lang_dir}" == "rtl"')
						i(ng-class='uncategorisedNodeMarkerClass(value, #{lang_dir})' uib-popover-template="'problems-popover-template'" popover-trigger="mouseenter" popover-placement="bottom-left" ng-if='uncategorisedFoodsExist()')
						i(ng-class='uncategorisedNodeMarkerClass(value, #{lang_dir})' ng-if='!uncategorisedFoodsExist()')
						span #{ gettext("Uncategorised foods") }
						ul(ng-if='uncategorisedFoods')
							li(ng-repeat='(index, value) in uncategorisedFoods | orderBy:["type", "displayName"]' ng-include='"node"')
			
				li(ng-repeat='(index, value) in treeData | orderBy:["type", "displayName"]' ng-include='"node"' ng-class='(value.open) ? "node-open" : "node-closed"')

include food-problems

script(type="text/ng-template", id="node")
	include node
