.properties-container#food-properties-container(ng-if="currentItem != null && currentItem.type == 'food' && !newItem")

	.properties-padding
		
		.page-header
			h2 #{ gettext("Food") }: {{ currentItem.displayName }}

		div(class="fa fa-bug food-local-view-icon" uib-popover-template="'food-local-view-popover-template'" popover-trigger="mouseenter" popover-placement="auto")
		
		include food-local-view
		include forms/food-properties

	.properties-footer
		.input-wrapper
			button(class="intake-btn success"
					id="btn-update-food"
					ng-click="updateFood()"
					ng-disabled="!itemChanged() || forceDisabledButtons || notValid()")
				span #{ gettext("Accept changes") }
			button(class="intake-btn warning"
					id="btn-discard-food"
					ng-click="discardChanges()"
					ng-disabled="!itemChanged() || forceDisabledButtons" )
				span #{ gettext("Discard changes") }
			button(class="intake-btn danger"
					id="btn-delete-food"
					ng-click="deleteItem()"
					ng-disabled="forceDisabledButtons")
				span #{ gettext("Delete") }
			.clearfloat
