doctype
html(lang=lang dir=lang_dir)

    head
        title #{title} - #{ gettext("Intake24 Admin") }

        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

        link(rel='stylesheet', href='/style.css')

        script(type="text/javascript" nonce=nonce).
            window.intake24_locale = '#{intake24_locale}';

        //- Load current translation file
        script(type="text/javascript" src='/i18n/' + lang + '/messages.js')
        script(type="text/javascript" src='/intake24-admin.js')
        script(src="https://www.google.com/recaptcha/api.js" nonce=nonce async defer)

    body(ng-app='intake24.admin' ng-controller='AdminController'
    ng-class="{authenticated: currentUser != null, 'no-scroll': bodyIsUnscrollable}")
        header
            #sidebar-button(ng-click="sidebarToggle()")
                i.fa.fa-bars
            a(ng-href='\#{{brandHref}}' class="no-text-decoration")
                h4 <strong>Intake24</strong> Admin
            a(href='' class='intake-btn-modal' id='btn-authenticate' ng-click="goToLogout()").auth-menu
                i.fa.fa-user
                p {{ currentUser ? currentUser.userName : 'Login / Register' }}

        .intake-container
            .main-content
                div(ng-view)

            navigation-directive

        auth-directive

        messages-directive

        #authenticate-overlay
            #authenticate-logo
                h4 <strong>Intake24</strong> Admin
