doctype
html(lang='#{lang}' dir='#{lang_dir}')

	head
		title #{title} - #{ gettext("Intake24 Admin") }

		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/libs/animate.css')
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/buttons.css')
		link(rel='stylesheet', href='/stylesheets/sidebar.css')
		link(rel='stylesheet', href='/stylesheets/modals.css')
		link(rel='stylesheet', href='/stylesheets/drawers.css')
		link(rel='stylesheet', href='/scripts/themes/intake/style.css')
		link(rel='stylesheet', href='/stylesheets/food-list.css')
		link(rel='stylesheet', href='/stylesheets/properties.css')
		link(rel='stylesheet', href='/stylesheets/portion-size-methods.css')
		link(rel='stylesheet', href='/stylesheets/search.css')
		link(rel='stylesheet', href='/stylesheets/flags.css')

		script(type="text/javascript" src="/scripts/jquery.min.js")
		script(type="text/javascript" src="//code.jquery.com/ui/1.11.4/jquery-ui.js")
		script(type="text/javascript" src="/scripts/js.cookie.js")
		script(type="text/javascript" src="/scripts/angular.js")
		script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
		script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-cookies.js")
		script(type="text/javascript" src="/scripts/ui-bootstrap-tpls-1.1.1.js")

		//- Load current translation file
		script(type="text/javascript" src='/i18n/#{lang}/messages.js')
		script(type="text/javascript" src='/scripts/gettext.js')

		script(type="text/javascript" src='/scripts/jstree.min.js')
		
		script(type="text/javascript" src='/scripts/food_db/module.js')
		script(type="text/javascript" src='/scripts/food_db/api_problems.js')
		script(type="text/javascript" src='/scripts/food_db/api_reader.js')
		script(type="text/javascript" src='/scripts/food_db/api_writer.js')
		script(type="text/javascript" src='/scripts/food_db/current_item.js')
		script(type="text/javascript" src='/scripts/food_db/packer.js')
		script(type="text/javascript" src='/scripts/food_db/properties.js')		
		script(type="text/javascript" src='/scripts/food_db/category_manager.js')
		script(type="text/javascript" src='/scripts/food_db/as_served.js')
		script(type="text/javascript" src='/scripts/food_db/guide.js')
		script(type="text/javascript" src='/scripts/food_db/drinkware.js')
		script(type="text/javascript" src='/scripts/food_db/explorer.js')
		script(type="text/javascript" src='/scripts/food_db/search.js')
		
		script(type="text/javascript" src='/scripts/modals.js')
		
		
		script(type="text/javascript" src='/scripts/main.js')
		script(type="text/javascript" src='/scripts/drawers.js')
		script(type="text/javascript" src='/scripts/flash.js')
		script(type="text/javascript" src='/scripts/auth.js')
		
		
		script(type="text/javascript" src='/scripts/shareddata.js')
		

		script(type="text/javascript" src='/scripts/navigation.js')

	body.animated.fadeIn(ng-app='intake24.admin' ng-controller='ExplorerController')
		header
			#sidebar-button(ng-click="sidebaropen=!sidebaropen")
				i.fa.fa-bars
			a(href='/')
				h4 <strong>Intake24</strong> Admin
			a(href='#' class='intake-btn-modal' id='btn-authenticate' data-modal='modal-logout').auth-menu
				i.fa.fa-user
				p Login / Register

		.intake-container
			.main-content
				block content
			
			include sidebar

		include modals		
			
		.flash-message
			#message
			#flash-dismiss-btn(ng-click='hideMessage()')
				i(class='fa fa-close')

		#authenticate-overlay
			#authenticate-logo
				h4 <strong>Intake24</strong> Admin
