div(ng-controller='AuthController')
	.intake-modal.modal-narrow.animated#modal-authenticate
			.intake-modal-title #{ gettext("Login") }
			.intake-modal-content
				form(ng-submit="login()")
					input(type="text" ng-model="username" placeholder="#{ gettext('Username') }")
					input(type="password" ng-model="password" placeholder="#{ gettext('Password') }")
					button #{ gettext("Login") }
					.clearfloat

	.intake-modal.modal-narrow.animated#modal-logout
		#button-close-modal.button-close-modal
			i.fa.fa-times
		.intake-modal-title #{ gettext("Are you sure?") }
		.intake-modal-content
			button(ng-click="logout()") #{ gettext("Logout") }
			.clearfloat

	#modal-backdrop
