.modal.modal-narrow.animated#modal-authenticate
		.modal-title #{ gettext("Login") }
		.modal-content(ng-controller='AuthController')
			input(id="form-login-username" type="text" placeholder="#{ gettext('Username') }")
			input(id="form-login-password" type="password" placeholder="#{ gettext('Password') }")
			button(class="modal-form-button" id="button-login") #{ gettext("Login") }
			.clearfloat

.modal.modal-narrow.animated#modal-logout
	#button-close-modal.button-close-modal
		i.fa.fa-times
	.modal-title #{ gettext("Are you sure?") }
	.modal-content
		button(class="modal-form-button" id="button-logout") #{ gettext("Logout") }
		.clearfloat

.modal.modal-wide.animated#modal-add-food-to-category
	.modal-title #{ gettext("Add Category") }
	.modal-content
		div
			ul(class='categories-container')
				li(ng-model='SharedData.allCategories' ng-repeat='category in SharedData.allCategories' ng-click='category.isParentCategory = !category.isParentCategory' ng-class='category.isParentCategory ? "selected" : "unselected"') {{category.englishDescription}}

	.modal-footer
		button(class="btn success modal-form-button button-close-modal close-modal" ng-click='reloadCategories()') #{ gettext("Add Category") }
		button(class="btn danger modal-form-button button-close-modal close-modal") #{ gettext("Cancel") }
		.clearfloat
	
#modal-backdrop
