doctype
html(lang=lang dir=lang_dir)

	head
		title #{ gettext("Intake24 Admin | Password reset") }

		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no')

		link(rel='stylesheet', href='/style.css')

		script(type="text/javascript" nonce=nonce src='/i18n/' + lang + '/messages.js')
		script(type="text/javascript" nonce=nonce src='/intake24-admin.js')

	body(ng-app='intake24.admin' ng-controller='PasswordResetController')
		messages-directive

		#authenticate-overlay
			#authenticate-logo
				h4 <strong>Intake24</strong> | Password reset
		.intake-modal#modal-reset-password
			.intake-modal-title #{ gettext("Create a new password") }
			.intake-modal-content(ng-hide="resetSuccessful")
				form(ng-submit="resetPassword()")
					p Password:
					input(type="password" ng-model="password")
					p Confirm password:
					input(type="password" ng-model="passwordConfirmation")
					button(ng-hide="buttonDisabled") #{ gettext("OK") }
					button(ng-hide="!buttonDisabled" disabled) #{ gettext("Please wait") }
						|&nbsp;
						i.fa.fa-spinner.fa-spin(aria-hidden="true")
			.intake-modal-content(ng-hide="!resetSuccessful")
				p Your password has been updated!
				p You can now use your new password to log into Intake24.
				p You will be redirected to the Intake24 log in page in 10 seconds.
				.clearfloat
