block sidebar
	.sidebar(ng-class='{"active": $parent.sidebaropen}' ng-controller='NavigationController')
		ul
			li.sidebar-btn(ng-class="{'active': set_language_active}")
				a(ng-click='set_language_active = !set_language_active') #{ gettext("Set Language") } <i class="fa" ng-class="set_language_active ? 'fa-chevron-down' : 'fa-chevron-left'"></i>
				ul.nested-li
					li(ng-repeat='(index, value) in locales | orderBy:["localName"]' class='sidebar-btn' ng-click='setLocale(value.id, value.adminLanguage)')
						a(ng-class='{"active": currentLocale == value.id}')
							i.flag(ng-class='value.flagCode')
							{{ value.localName }}
			li.sidebar-btn(ng-class="{'active': manage_foods_active}")
				a(ng-click='manage_foods_active = !manage_foods_active') #{ gettext("Manage foods") } <i class="fa" ng-class="manage_foods_active ? 'fa-chevron-down' : 'fa-chevron-left'"></i>
				ul.nested-li
					li.sidebar-btn(id='browse-foods-btn') 
						a #{ gettext("Browse foods") }
				ul.nested-li
					li.sidebar-btn(ng-click='addNewFood()') 
						a #{ gettext("Add new food") }
					li.sidebar-btn(ng-class='{disabled:!cloneFoodEnabled()}' ng-click='cloneFood()') 
						a #{ gettext("Clone food") }
					li.sidebar-btn(ng-class='{disabled:!deleteItemEnabled()}' ng-click='deleteItem()')
						a #{ gettext("Delete selected item") }
						
			
			li.sidebar-btn(ng-class="{'active': manage_categories_active}")
				a(ng-click='manage_categories_active = !manage_categories_active') #{ gettext("Manage categories") } <i class="fa" ng-class="manage_categories_active ? 'fa-chevron-down' : 'fa-chevron-left'"></i>
				ul.nested-li
					li.sidebar-btn(ng-click='addNewCategory()')
						a #{ gettext("Add new category") }