.properties-container#category-properties-container(ng-if="currentItem != null && currentItem.type == 'category' && !newItem")

	.properties-padding
		
		.page-header
			h2 #{ gettext("Category") }: {{ currentItem.displayName }}

		include forms/category-properties

	.properties-footer
		.input-wrapper
			button.intake-btn.success(type="button"
									ng-click='updateCategory()'
									ng-disabled="!itemChanged() || forceDisabledButtons || notValid()")
				span #{ gettext("Accept changes") }
			button.intake-btn.warning(type="button"
									ng-click='discardChanges()'
									ng-disabled="!itemChanged() || forceDisabledButtons || notValid()")
				span #{ gettext("Discard changes") }
			button.intake-btn.danger(type="button"
									ng-click='deleteItem()'
									ng-disabled="forceDisabledButtons")
				span #{ gettext("Delete") }
			.clearfloat
