.input-wrapper
	label #{ gettext("Serving image set") }
	.inline-link(ng-click='selectServingImageSet(portionSize.parameters)'
				ng-class="{'has-error': !portionSize.parameters.serving_image_set}")
		span(ng-if='!portionSize.parameters.serving_image_set')
			p #{ gettext("Select image set") }
		span(ng-if='portionSize.parameters.serving_image_set')
			{{ portionSize.parameters.serving_image_set }}
.input-wrapper
	label #{ gettext("Use leftover images") }
	input(type='checkbox' ng-model='portionSize.parameters.useLeftoverImages')

.input-wrapper(ng-show="portionSize.parameters.useLeftoverImages")
	label #{ gettext("Leftover image set") }
	.inline-link(ng-click='selectLeftoversImageSet(portionSize.parameters)'
				ng-class="{'has-error': portionSize.parameters.useLeftoverImages && !portionSize.parameters.leftovers_image_set}")
		span(ng-if='!portionSize.parameters.leftovers_image_set')
			p #{ gettext("Select image set") }
		span(ng-if='portionSize.parameters.leftovers_image_set')
			{{ portionSize.parameters.leftovers_image_set }}
.clearfloat
