//- Standard portion

.units-list
	.row.header
		.column
			.unit-cell #{ gettext("Unit name (plural)") }
		.column
			.unit-cell #{ gettext("Unit weight (g)") }
		.column
			.unit-cell #{ gettext("Omit food description") }
		.clearfloat
	.row(ng-repeat='unit in portionSize.parameters.units'
		ng-class="{'has-error': unitHasError(unit)}")
		.column
			.unit-cell
				input(type='text' placeholder ='#{ gettext("Name") }' ng-model='unit.name')
		.column
			.unit-cell
				input(type='text' placeholder ='#{ gettext("Value") }' ng-model='unit.value')
		.column
			.unit-cell
				input(type='checkbox' ng-model='unit.omitFoodDescription')
		.clearfloat
		.delete-unit(ng-click='removeItem($index)')
				i.fa.fa-minus-circle

button.intake-btn.hidden(type="button")
	span #{ gettext("Move up") }
button.intake-btn.hidden(type="button")
	span #{ gettext("Move down") }
button.intake-btn(type="button"
				ng-click='portionSize.parameters.units.push({name:"", value:"", omitFoodDescription:false})')
	span #{ gettext("Add unit") }
.clearfloat
