//- Incomplete

.units-list
	.row.header
		.column
			.unit-cell #{ gettext("Unit name (plural)") }
		.column
			.unit-cell #{ gettext("Unit weight (g)") }
		.column
			.unit-cell #{ gettext("Omit food description") }
		.clearfloat
	.row(ng-model='portionSize.temp.parameters' ng-repeat='unit in portionSize.temp.parameters')
		.column
			.unit-cell
				input(type='text' placeholder ='#{ gettext("Name") }' ng-model='unit.name')
		.column
			.unit-cell
				input(type='text' placeholder ='#{ gettext("Value") }' ng-model='unit.value')
		.column
			.unit-cell
				input(type='checkbox' ng-model='unit.omitFoodDescription')
		.clearfloat

.btn.hidden
	span #{ gettext("Move up") }
.btn.hidden
	span #{ gettext("Move down") }
.btn
	span #{ gettext("Add unit") }
.btn.danger
	span #{ gettext("Delete this method") }
.clearfloat