//- Standard portion

table.table.table-hover.units-list
    thead
        tr
            th.text-nowrap
                | #{ gettext("Unit name (plural)") }
            th.text-nowrap
                | #{ gettext("Unit weight (g)") }
            th.text-nowrap
                | #{ gettext("Omit food description") }
            th
    tbody
        tr.unit-row(ng-repeat='unit in portionSize.parameters.units'
        ng-class="{'danger': unitHasError(unit)}")
            td
                ui-select(ng-model="unit.name" title="{{ $select.selected.name || unit.name || 'Select unit...' }}")
                    ui-select-match(placeholder="Select unit...")
                        span(ng-bind="($select.selected.name || unit.name) | ngTextCutFilter : 14")
                    ui-select-choices(repeat="item.id as item in (standardUnits | filter: {name: $select.search})")
                        span(ng-bind="item.name")
            td
                input.form-control(type='text' placeholder ='#{ gettext("Value") }' ng-model='unit.value')
            td
                input(type='checkbox' ng-model='unit.omitFoodDescription')
            td
                button.close(ng-click='removeStandardUnit($index)')
                    | &times;

button.intake-btn.hidden(type="button")
    span #{ gettext("Move up") }
button.intake-btn.hidden(type="button")
    span #{ gettext("Move down") }
button.intake-btn(type="button"
ng-click='addStandardUnit()')
    span #{ gettext("Add unit") }
.clearfloat
