div(ng-controller='CategoryManagerController')
	.drawer-backdrop(ng-show="isOpen")
	.drawer.drawer-narrow.no-padding(ng-show="isOpen")
		.button-close-drawer(ng-click="close()")
			i.fa.fa-times
		.drawer-title #{ gettext("Manage Categories") }
		.drawer-content
			.categories-container
				input(type='text' placeholder='#{ gettext("Search categories") }'
						ng-model='searchQuery')
				ul(ng-if="searchQuery != ''")
					li(ng-repeat='category in searchResults | orderBy:"displayName"'
						ng-click='toggleParentCategory(category)'
						ng-class='isInParentCategories(category) ? "selected" : "unselected"') {{category.displayName}}
				ul(ng-if="searchQuery == ''")
					li(ng-repeat='category in stickyCategories | orderBy:"displayName"'
						ng-click='toggleParentCategory(category)'
						ng-class='isInParentCategories(category) ? "selected" : "unselected"') {{category.displayName}}

	.drawer-footer(ng-show="isOpen")
		button(class="intake-btn success drawer-form-button button-close-drawer close-drawer"
				ng-click='reloadCategories()') #{ gettext("Done") }
		.clearfloat

//- Image set selection drawer

div(ng-controller='AsServedSetController')
	.drawer-backdrop(ng-show="isOpen")
	.drawer.drawer-narrow.no-padding(ng-show="isOpen")
		.button-close-drawer(ng-click="close()")
			i.fa.fa-times
		.drawer-title #{ gettext("Select Image Set") }
		input(type='text' ng-model='query' placeholder='#{ gettext("Search image sets") }')
		.drawer-content
			.list-container
				ul
					li(ng-click='setAsServedImageSet(as_served_image_set.id)' ng-repeat='as_served_image_set in asServedImageSets | asServedFilter:query | orderBy:description')
						{{ as_served_image_set.description }} ({{ as_served_image_set.id }})

//- Guide image selection drawer
div(ng-controller='GuideImageController')
	.drawer-backdrop(ng-show="isOpen")
	.drawer.drawer-narrow.no-padding.animated(ng-show="isOpen")
		.button-close-drawer(ng-click="close()")
			i.fa.fa-times
		.drawer-title #{ gettext("Select Guide Image") }
		input(type='text' ng-model='query' placeholder='#{ gettext("Search guide images") }')
		.drawer-content
			.list-container
				ul
					li(ng-click='setGuideImage(guide_image_set.id)' ng-model='guideImages' ng-repeat='guide_image_set in guideImages | guideImageFilter:query | orderBy: "id"')
						{{ guide_image_set.id }} ({{ guide_image_set.description }})

//- Drinkware selection drawer
div(ng-controller='DrinkwareController')
	.drawer-backdrop(ng-show="isOpen")
	.drawer.drawer-narrow.no-padding.animated(ng-show="isOpen")
		.button-close-drawer(ng-click="close()")
			i.fa.fa-times
		.drawer-title #{ gettext("Select Drinkware Set") }
		input(type='text' ng-model='query' placeholder='#{ gettext("Search drinkware sets") }')
		.drawer-content
			.list-container
				ul
					li(ng-click='setDrinkwareSet(drinkware_set.id)' ng-model='drinkwareSets' ng-repeat='drinkware_set in drinkwareSets | drinkScaleFilter:query | orderBy: "id"')
						{{ drinkware_set.description }}

div(ng-controller='AssociatedFoodDrawerController')
	.drawer-backdrop(ng-show="isOpen")
	.drawer.drawer-narrow.no-padding(ng-show="isOpen")
		.button-close-drawer(ng-click="close()")
			i.fa.fa-times
		.drawer-title #{ gettext("modals_associated_food_title") }
		input(type='text'
				placeholder='#{ gettext("modals_associated_food_query_placeholder") }'
				ng-model='query')
		.drawer-content
			.list-container
				ul
					li(ng-repeat='item in items | orderBy:["type", "displayName"]' ng-click='select(item)')
						i.fa.fa-folder-o(ng-if='item.type == "category"' style='margin-right: 8px')
						{{ item.displayName }}
