.form-group(ng-class="{'has-error': itemDefinition.main.englishDescription == ''}")
	label.col-xs-3.control-label(for="basic-fields-english-description")
		| #{ gettext("Description") }
	.col-xs-9
		input(class='form-control' type='text' placeholder=gettext("e.g. Beans on toast")
			id="basic-fields-english-description"
			ng-model='itemDefinition.main.englishDescription'
			ng-disabled='!currentUserCanUpdateMainFields'
			)
.form-group(ng-hide='SharedData.locale.intake_locale=="en_GB" || newItem')
	label.col-xs-3.control-label(for="basic-fields-local-description")
		| #{ gettext("Local Description") }
	.col-xs-9
		input(class='form-control' type='text'
			id="basic-fields-local-description"
		    ng-attr-dir="{{formTextDirection}}"
			ng-model='localDescriptionModel' ng-model-options='{ getterSetter : true }'
			ng-disabled='!currentUserCanUpdateLocalFields')
.form-group(ng-class="{'has-error': codeIsInvalid, 'has-success': codeIsValid}")
	label.col-xs-3.control-label(for="basic-fields-main-code")
		| #{ gettext("Intake24 code") }
	.col-xs-9
		input(class='form-control' type='text' placeholder=gettext("ALBU")
				id="basic-fields-main-code"
				ng-model='itemDefinition.main.code'
				ng-disabled='!currentUserCanUpdateMainFields')
