.property
	h3 #{ gettext("Attributes") }
	.form-group
		.col-xs-3
			button.btn.btn-default.btn-sm(ng-click="itemDefinition.main.attributes.readyMealOption.defined = !itemDefinition.main.attributes.readyMealOption.defined")
				span(ng-if="!(itemDefinition.main.attributes.readyMealOption.defined)") Override
				span(ng-if="(itemDefinition.main.attributes.readyMealOption.defined)") Use inherited
		.col-xs-9
			label.checkbox-inline
				input(type="checkbox"
					ng-disabled="!itemDefinition.main.attributes.readyMealOption.defined"
					ng-model="itemDefinition.main.attributes.readyMealOption.value")
				span #{ gettext("Ready meal option") }
	.form-group
		.col-xs-3
			button.btn.btn-default.btn-sm(ng-click="itemDefinition.main.attributes.sameAsBeforeOption.defined = !itemDefinition.main.attributes.sameAsBeforeOption.defined")
				span(ng-if="!(itemDefinition.main.attributes.sameAsBeforeOption.defined)") Override
				span(ng-if="(itemDefinition.main.attributes.sameAsBeforeOption.defined)") Use inherited
		.col-xs-9
			label.checkbox-inline
				input(type="checkbox"
					ng-disabled="!itemDefinition.main.attributes.sameAsBeforeOption.defined"
					ng-model="itemDefinition.main.attributes.sameAsBeforeOption.value")
				span #{ gettext("Same as before option") }
	.form-group
		.col-xs-3
			button.btn.btn-default.btn-sm(ng-click="itemDefinition.main.attributes.reasonableAmount.defined = !itemDefinition.main.attributes.reasonableAmount.defined")
				span(ng-if="!(itemDefinition.main.attributes.reasonableAmount.defined)") Override
				span(ng-if="(itemDefinition.main.attributes.reasonableAmount.defined)") Use inherited
		.col-xs-9
			.row
				.col-xs-4
					input.form-control(type="text"
									placeholder=gettext('e.g. 600')
									id="inheritable-reasonable-amount"
									ng-disabled="!itemDefinition.main.attributes.reasonableAmount.defined"
									ng-model="itemDefinition.main.attributes.reasonableAmount.value")
				.col-xs-8
					p.form-control-static
						label(for="inheritable-reasonable-amount")
							| #{ gettext("Reasonable amount (g/ml)") }
