.property(ng-controller="PortionSizeController")
    h3 #{ gettext("Portion size estimation") }
    .form-subgroup(ng-repeat='portionSize in portionSizes'
    ng-controller="PortionSizeItemController"
    ng-init="portionSize=portionSize")
        .form-group
            .col-xs-12
                button.close(type="button" title=gettext("Delete this method")
                ng-click='deletePortionSize($index)' ng-disabled="!currentUserCanUpdateLocalFields") &times;

        .form-group(ng-class="{'has-error': !portionSize.description}")
            label.col-xs-3.control-label(for="portion-size-description-{{$index}}")
                | #{ gettext("properties_portion_size_description") }
            .col-xs-9
                ui-select(id="portion-size-description-{{$index}}" ng-disabled="!currentUserCanUpdateLocalFields"
                ng-model="portionSize.description" title=gettext('properties_portion_size_description_select'))
                    ui-select-match(placeholder=gettext('properties_portion_size_description_select'))
                        span(ng-bind="($select.selected.name || portionSize.description)")
                    ui-select-choices(repeat="item.id as item in (portionSizeDescriptions | filter: {name: $select.search})")
                        span(ng-bind="item.name")
        .form-group
            label.col-xs-3.control-label(for="portion-size-imgurl-{{$index}}")
                | #{ gettext("properties_portion_size_image") }
            .col-xs-9
                p(class="form-control-static" ng-hide="imageUrlEditable")
                    a.child-visible-on-hover.no-text-decoration(href=""
                    title=gettext('properties_portion_size_image_edit') ng-click="toggleImageUrlEdit()")
                        span.dashed {{ portionSize.imageUrl }}
                        | &nbsp;
                        i.fa.fa-pencil.visible-on-hover
                div(ng-show="imageUrlEditable")
                    input.form-control(id="portion-size-imgurl-{{$index}}"
                    ng-disabled="!currentUserCanUpdateLocalFields"
                    placeholder=gettext("e.g. path/filename.jpg")
                    ng-model='portionSize.imageUrl'
                    ng-class="{'invalid': !portionSize.imageUrl}")
        .form-group
            label.col-xs-3.control-label(for="portion-size-use-for-recipes-{{$index}}")
                | #{ gettext("Use for recipes") }
            .col-xs-9
                input(type='checkbox' id="portion-size-use-for-recipes-{{$index}}"
                ng-disabled="!currentUserCanUpdateLocalFields"
                ng-model='portionSize.useForRecipes')
        .form-group
            label.col-xs-3.control-label(for="portion-size-conv-factor-{{$index}}")
                | #{ gettext("Conversion factor") }
            .col-xs-6
                input(type='range' min="0.2" max="10" step="0.01" id="portion-size-conv-factor-{{$index}}"
                ng-disabled="!currentUserCanUpdateLocalFields"
                ng-model='portionSize.conversionFactor')
            .col-xs-2
                input(type='number' min="0.2" max="10" step="0.01" id="portion-size-conv-factor-n-{{$index}}"
                ng-disabled="!currentUserCanUpdateLocalFields"
                ng-model='portionSize.conversionFactor')
        .form-group
            label.col-xs-3.control-label(for="portion-size-method-{{$index}}")
                | #{ gettext("Estimation method") }
            .col-xs-9
                select.form-control(id="portion-size-method-{{$index}}"
                ng-disabled="!currentUserCanUpdateLocalFields"
                ng-model="portionSizeMethodModel(portionSize)"
                ng-model-options="{getterSetter : true}")
                    option(ng-repeat="estimationMethod in sharedData.estimationMethods"
                    value="{{estimationMethod.slug}}") {{estimationMethod.name}}

        .as-served(ng-if='portionSize.method == "as-served"')
            include portion-size-methods/as-served
        .guide-image(ng-if='portionSize.method == "guide-image"')
            include portion-size-methods/guide-image
        .drink-scale(ng-if='portionSize.method == "drink-scale"')
            include portion-size-methods/drink-scale
        .standard-portion(ng-if='portionSize.method == "standard-portion"')
            include portion-size-methods/standard-portion
        .cereal(ng-if='portionSize.method == "cereal"')
            include portion-size-methods/cereal
        .milk-on-cereal(ng-if='portionSize.method == "milk-on-cereal"')
            include portion-size-methods/milk-on-cereal
        .milk-on-cereal(ng-if='portionSize.method == "milk-in-a-hot-drink"')
            include portion-size-methods/milk-in-a-hot-drink
        .milk-on-cereal(ng-if='portionSize.method == "pizza"')
            include portion-size-methods/pizza

    .form-group
        .col-xs-12
            button.intake-btn.success(type="button" ng-click='addPortionSize()' ng-disabled="!currentUserCanUpdateLocalFields")
                | #{ gettext("Add a portion size method") }
