.sidebar(ng-class='{"active": $parent.sidebaropen}')
    ul
        li(ng-class="{'active': !menuItems.foodExplorer.collapsed}" ng-if="currentUser.canAccessFoodDatabase()")
            a(ng-click='toggleItem("foodExplorer")' ng-class="{'active': menuItems.foodExplorer.active}")
                | #{ gettext("Food database") }
                i.fa(ng-class="!menuItems.foodExplorer.collapsed ? 'fa-chevron-down' : 'fa-chevron-left'")
            ul.nested-li
                li(ng-repeat='(index, value) in locales | orderBy:["englishName"] | filter: canReadFoodDatabase')
                    a(ng-href="/\#{{getFoodExplorerHref(value.id)}}" ng-class='{"active": currentLocale == value.id}')
                        i.flag(ng-class='value.flagCode')
                        | &nbsp;{{ value.englishName }}

        li(ng-class="{'active': !menuItems.databaseTools.collapsed}" ng-if="currentUser.canAccessDatabaseTools()")
            a(ng-click='toggleItem("databaseTools")' ng-class="{'active': menuItems.databaseTools.active}")
                | #{ gettext("Food database tools") }
                i.fa(ng-class="!menuItems.databaseTools.collapsed ? 'fa-chevron-down' : 'fa-chevron-left'")
            ul.nested-li
                li
                    a(ng-href="/\#{{menuItems.databaseTools.foodFrequency.href}}" ng-class="{'active': menuItems.databaseTools.foodFrequency.active}")
                        | #{ gettext("Food frequency") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.compositionTables.href}}" ng-class="{'active': menuItems.databaseTools.compositionTables.active}")
                        | #{ gettext("Composition tables") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.deriveLocale.href}}" ng-class="{'active': menuItems.databaseTools.deriveLocale.active}")
                        | #{ gettext("Derive new locale") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.mergeLocales.href}}" ng-class="{'active': menuItems.databaseTools.mergeLocales.active}")
                        | #{ gettext("Merge locales") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.updateUKSA.href}}" ng-class="{'active': menuItems.databaseTools.updateUKSA.active}")
                        | #{ gettext("Update UKSAv2 portion sizes") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.recalculateNutrients.href}}" ng-class="{'active': menuItems.databaseTools.recalculateNutrients.active}")
                        | #{ gettext("Recalculate nutrients") }
                li
                    a(ng-href="/\#{{menuItems.databaseTools.exportMapping.href}}" ng-class="{'active': menuItems.databaseTools.exportMapping.active}")
                        | #{ gettext("Export nutrient mapping") }

        li(ng-class="{'active': !menuItems.imageGalleries.collapsed}" ng-if="currentUser.canAccessPortionSizeImages()")
            a(ng-click='toggleItem("imageGalleries")')
                | #{ gettext("sidebar_galleries") }
                i.fa(ng-class="!menuItems.imageGalleries.collapsed ? 'fa-chevron-down' : 'fa-chevron-left'")
            ul.nested-li
                li
                    a(ng-href="\#{{menuItems.imageGalleryMain.href}}" ng-class="{'active': menuItems.imageGalleryMain.active}")
                        | #{ gettext("image_gallery_main_gallery") }
                li
                    a(ng-href="\#{{menuItems.imageGalleryAsServed.href}}" ng-class="{'active': menuItems.imageGalleryAsServed.active}")
                        | #{ gettext("image_gallery_as_served") }
                li
                    a(ng-href="\#{{menuItems.imageGalleryGuided.href}}" ng-class="{'active': menuItems.imageGalleryGuided.active}")
                        | #{ gettext("image_gallery_guided") }

        li.group(ng-if="currentUser.canAccessSurveyManager()")
            a(ng-href="\#{{menuItems.surveyManager.href}}" ng-class="{'active': menuItems.surveyManager.active}")
                | #{ gettext("sidebar_survey_manager") }
            a.addon-btn(ng-href="\#{{menuItems.surveyManagerNew.href}}" ng-if="currentUser.canCreateSurveys()")
                i.fa.fa-plus

        li(ng-if="currentUser.canAccessSurveyFeedback()")
            a(ng-href="\#{{menuItems.surveyFeedback.href}}" ng-class="{'active': menuItems.surveyFeedback.active}")
                | #{ gettext("sidebar_survey_feedback") }

        li(ng-class="{'active': !menuItems.userManager.collapsed}" ng-if="false") # seems obsolete?
            a(ng-click='toggleItem("userManager")')
                | #{ gettext("sidebar_users") }
                i.fa(ng-class="!menuItems.userManager.collapsed ? 'fa-chevron-down' : 'fa-chevron-left'")
            ul.nested-li
                li
                    a(ng-href="\#{{menuItems.userManagerRespondents.href}}" ng-class="{'active': menuItems.userManagerRespondents.active}")
                        | #{ gettext("sidebar_users_respondents") }
                li
                    a(ng-href="\#{{menuItems.userManagerAdmins.href}}" ng-class="{'active': menuItems.userManagerAdmins.active}")
                        | #{ gettext("sidebar_users_admins") }
