.intake-modal#modal-authenticate(ng-show="modalAuthenticateVisible")
    .intake-modal-title #{ gettext("Login") }
    .intake-modal-content
        form(ng-submit="login()")
            input(type="text" ng-model="username" placeholder=gettext('Username'))
            input(type="password" ng-model="password" placeholder=gettext('Password'))
            button #{ gettext("Login") }
        .forgot-password
            a(href="#" ng-click="showPasswordReset()") #{ gettext("Forgot my password") }
        .clearfloat

.intake-modal#modal-reset-password(ng-show="modalResetPasswordVisible")
    .button-close-modal(ng-click="hidePasswordResetModal()")
        i.fa.fa-times
    .intake-modal-title #{ gettext("Reset password") }
    .intake-modal-content
        p Please confirm your e-mail address:
        form(ng-submit="requestPasswordReset()")
            input(type="text" ng-model="username" placeholder=gettext('E-mail'))
            .g-recaptcha(data-sitekey=recaptcha_site_key data-callback="recaptchaCallback")
            button #{ gettext("Send password reset e-mail") }
        .clearfloat

.intake-modal.modal-narrow#modal-logout(ng-show="modalLogOutVisible")
    .button-close-modal(ng-click="hideLogoutModal()")
        i.fa.fa-times
    .intake-modal-title #{ gettext("Are you sure?") }
    .intake-modal-content
        button(ng-click="logout()") #{ gettext("Logout") }
        .clearfloat

#modal-backdrop(ng-show="getBackdropVisibe()")