.input-wrapper
	label #{ gettext("Description") }
	input(class='input-english-description' type='text' placeholder='#{ gettext("e.g. Beans on toast") }' ng-model='itemDefinition.main.englishDescription')
.input-wrapper(ng-hide='SharedData.locale.intake_locale=="en_GB"')
	label #{ gettext("Local Description") }
	input(class='input-local-description' type='text' ng-model='localDescriptionModel' ng-model-options='{ getterSetter : true }')
.input-wrapper
	label #{ gettext("Intake24 code") }
	input(class='input-intake-code' type='text' placeholder='#{ gettext("ALBU") }' ng-model='itemDefinition.main.code' ng-keyup='checkCode($event)')
