form(id='food-properties-form')
.property
	h3 #{ gettext("Food definition") }
	.input-wrapper
		label #{ gettext("Description") }
		input(id='input-food-englishDescription' type='text' placeholder='#{ gettext("e.g. Beans on toast") }' ng-model='SharedData.currentItem.englishDescription')
	.input-wrapper(ng-hide='SharedData.locale.locale=="en_GB"')
		label #{ gettext("Local Description") }
		input(id='input-food-localeDescription' type='text' ng-model='SharedData.currentItem.localData.localDescription[0]')
	.input-wrapper
		label #{ gettext("Intake24 code") }
		input(id='input-food-code' type='text' placeholder='#{ gettext("e.g. ALBU") }' ng-model='SharedData.currentItem.temp.code')
	.input-wrapper
		label #{ gettext("NDNS code") }
		input(id='input-NDNS-code' type='text' placeholder='#{ gettext("e.g. 10968") }' ng-model='SharedData.currentItem.localData.nutrientTableCodes.NDNS')
	.input-wrapper
		label #{ gettext("Food group") }
		select(class='food-group-dropdown' id='food-group-dropdown' data-ng-options="fg.englishDescription for fg in SharedData.foodGroups" data-ng-model="SharedData.selectedFoodGroup")

.property
	h3 #{ gettext("Attributes") }
	.input-wrapper
		label #{ gettext("Ready meal option") }
		input(id='input-ready-meal-option' type='checkbox' ng-model='SharedData.currentItem.temp.booleanReadyMealOption')
	.input-wrapper
		label #{ gettext("Same as before option") }
		input(id='input-same-as-before-option' type='checkbox' ng-model='SharedData.currentItem.temp.booleanSameAsBeforeOption')
	.input-wrapper
		label #{ gettext("Reasonable amount (g/ml)") }
		input(id='input-reasonable-amount' type='text' placeholder='#{ gettext("e.g. 600") }' style='min-width:60px; width:60px' ng-model='SharedData.currentItem.attributes.reasonableAmount[0]')

.property
	h3 #{ gettext("Categories") }
	.input-wrapper
		.categories-container
			ul(ng-model='SharedData.currentItem.parentCategories' ng-repeat='parentCategory in SharedData.currentItem.parentCategories')
				li(ng-click='parentCategory.remove = !parentCategory.remove' ng-class='parentCategory.remove ? "selected" : "unselected"') {{parentCategory.englishDescription}}

	.input-wrapper
		.btn.success(onClick='showModal("modal-add-food-to-category")')
			span #{ gettext("Add to category") }
		.btn.danger#remove-food-from-category-btn
			span #{ gettext("Remove from selected category") }
		.clearfloat

.property
	h3 #{ gettext("Portion size estimation") }
	.input-wrapper(ng-model='SharedData.currentItem.localData.portionSize' ng-repeat='portionSize in SharedData.currentItem.localData.portionSize')
		span(ng-if='portionSize.method == "standard-portion"')
			include portion-size-methods/standard-portion
	.input-wrapper
		.btn.success
			span #{ gettext("Add a portion size method") }
		.clearfloat