.property
    h3 #{ gettext("associated_food_title") }

    div.margin-bottom-sm(ng-repeat="assFood in itemDefinition.associatedFoods")
        .input-wrapper
            label #{ gettext("Food") }
            .inline-link(ng-click='showAssociatedFoodModal(assFood, "food")')
                span(ng-if='!assFood.food')
                    p #{ gettext("properties_select_associated_food") }
                span(ng-if='assFood.food')
                    {{ assFood.food.localDescription[0] }}

        .input-wrapper
            label #{ gettext("associated_food_question") }
            input(type="text" ng-model="assFood.question")
        .input-wrapper
            label #{ gettext("associated_food_main_food") }
            input(type="checkbox" ng-model="assFood.mainFood")
        .input-wrapper
            label
            button.intake-btn.no-float(ng-click="removeAssociatedFood(assFood)") #{ gettext("associated_food_delete") }

    .input-wrapper
        button.intake-btn(ng-click="addAssociatedFood()")
            span #{ gettext("associated_food_add") }