.search-input-group
    search-input(ng-model="searchQuery")
    .search-input-addon
        button(type="button" ng-click="addItem()")
            i.fa.fa-plus

.intk-gallery
    as-served-set(name="item.id"
    description="item.description"
    items="item.images"
    reference-obj="item"
    on-removed="onRemoved"
    ng-repeat="item in items track by item.id"
    ng-class="{'visible': itemIsFiltered(item)}")

    p(class="as-served-set-blank-text" ng-hide="getListIsNotEmpty()") No items found
    p(class="as-served-set-blank-text" ng-show="listIsLoading") Loading...

image-select-drawer(multiple="true")
