.search-input-group
    search-input(ng-model="searchQuery")
    .search-input-addon
        button(type="button" ng-click="addItem()")
            i.fa.fa-plus

    .search-input-addon(uib-dropdown)
        button(type="button" uib-dropdown-toggle id="tools-dropdown")
            i.fa.fa-angle-down
        ul.dropdown-menu.dropdown-menu-right(uib-dropdown-menu aria-labelledby="tools-dropdown")
            li
                a(href="" ng-click="toggleShowDeleted()") {{ showDeleted ? 'Hide deleted' : 'Show deleted' }}

.intk-gallery
    p(class="as-served-set-blank-text" ng-hide="getFilteredItems().length > 0") No items found
    as-served-set(name="item.id"
    description="item.description"
    items="item.images"
    deleted="item.deleted"
    show-deleted="showDeleted"
    ng-repeat="item in getFilteredItems() track by $index")

image-select-drawer
